obj/
*.d
*.o
*.i
*.s

# MSVC build objects
Debug-darkplaces-sdl2-vs*/
Release-darkplaces-sdl2-vs*/
*.obj
*.tlog
# MSVC NuGet packages, VS downloads them automatically.
# Other platforms also provide SDL2 headers rather than storing old ones here.
packages/

ChangeLog
darkplaces-agl
darkplaces-glx
darkplaces-sdl
darkplaces-wasm.html
darkplaces-wasm.js
darkplaces-dedicated
gmon.out
*.ncb
*.opt
*.plg
*.exe
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM
.vscode
*.code-workspace
.ccls-cache
*.gch
/.vs
/build
/.cache
*.kdev4
*.vcxproj.user
*.pdb
*.lib
*.exp

# emscripten
build-obj/
emsdk/
docs/output/
wasm/preload/*
!wasm/preload/runhere
