obj/
*.d
*.o
*.i
*.s
.vs/*
ChangeLog
darkplaces-agl
darkplaces-glx
darkplaces-sdl
darkplaces-dedicated
doombringer-lx
doombringer-lx-ded
gmon.out
*.ncb
*.opt
*.plg
*.exe
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM
.vscode
*.code-workspace
.ccls-cache
*.gch
